html {
  /* только здесь можно определить размер 1rem  */
  font-size: 14px;
}

/* задаем правила SPA для body */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #444;
  /* универсальный набор системныйх шрифтов без засечек */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  line-height: 1.3; // для ожидаемой ширины строковых линий
}

/* убираем НЕОЖИДАННОЕ правило по-умолчанию для всех элементов */
* {
  box-sizing: border-box;
}

/* эта зона не инкапсулируется, поэтому здесь можно задать, например, фон для всех кнопок */
button {
  background: #999;
}

/* наследовать правила от body(через потомков), которые user agent задает индивудально для элементов управления */
input,
textarea,
select,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  line-height: inherit;
}
