<label>
  <input type="checkbox" [formControl]="fastModeControl" />
  Fast mode
</label>
<section>
  Progress bar
  <ng-container *ngTemplateOutlet="fastModeControl.value ? performanceCode : beautyCode"></ng-container>
</section>

<ng-template #beautyCode>
  <div class="progress-bar" [cssVariable]="{ percent: percentProgressBar$ | async }" (click)="getBack()">
    {{ percentProgressBar$ | async }}%
  </div>
</ng-template>

<ng-template #performanceCode>
  <div class="progress-bar" #performanceProgressBar (click)="getBack()"></div>
</ng-template>
