<my-cool-app-header class="cols-4" label="Компонент my-cool-app-post-form"></my-cool-app-header>
<my-cool-app-input-fileld class="cols-2" label="Поле А:"></my-cool-app-input-fileld>
<i><!-- любой невидимый элемент обозначает пустую ячейку  --></i>
<my-cool-app-input-fileld [useElementAs]="UseElementAs.required" class="cols-2" label="Поле Б:"></my-cool-app-input-fileld>
<my-cool-app-input-fileld></my-cool-app-input-fileld>
<my-cool-app-input-fileld></my-cool-app-input-fileld>
<i></i>
<my-cool-app-input-fileld [useElementAs]="UseElementAs.required"></my-cool-app-input-fileld>
<my-cool-app-input-fileld [useElementAs]="UseElementAs.required"></my-cool-app-input-fileld>
<my-cool-app-too-much-text class="cols-all"></my-cool-app-too-much-text>
