/* задаем количество столбцов в хост-элементе */
$cols: 5;

:host {
  background-color: beige;
  min-height: 100%;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: 20px 40px;
  align-content: start;
}

/* задаем вариации поглащения правых ячеек */
@for $i from 1 through $cols {
  .cols-#{$i} {
    grid-column: span $i;
  }
}

/* для удобства задем ячейку, которая поглащает все ячейки справа */
.cols-all {
  @extend .cols-#{$cols};
}

.to-right {
  justify-self: end;
}

.to-center {
  justify-self: center;
}
