<my-cool-app-header class="cols-4" label="Компонент my-cool-app-post-form"></my-cool-app-header>
<my-cool-app-button class="to-right {{ ButtonclassContext.cancel }}" label="Отмена"></my-cool-app-button>
<my-cool-app-input-fileld class="cols-2" label="Поле А:"></my-cool-app-input-fileld>
<i><!-- любой невидимый элемент обозначает пустую ячейку  --></i>
<my-cool-app-input-fileld class="cols-2 {{ InputFileldClassContext.purpleField }}" label="Поле Б:"></my-cool-app-input-fileld>
<i></i>
<my-cool-app-button class="to-right" label="Пуск"></my-cool-app-button>
<i></i>
<my-cool-app-input-fileld class="{{ InputFileldClassContext.purpleField }}"></my-cool-app-input-fileld>
<my-cool-app-input-fileld class="{{ InputFileldClassContext.purpleField }}"></my-cool-app-input-fileld>
