$inputXpadding: 5px;
$borderWidth: 1px;
$inputLineHeight: 2rem;
$labelLineHeight: 1.5rem;

:host {
  display: block;
  /* как вычисляется ширина компоненты */
  // height: calc(#{$inputLineHeight} + (2 * #{$borderWidth}) + #{$labelLineHeight});
}

input {
  display: block;
  width: 100%;
  padding: 0 $inputXpadding;
  border: $borderWidth solid #999;
  line-height: $inputLineHeight; // как красивше задать ширину поля
}

label {
  padding-left: $inputXpadding + $borderWidth;
  line-height: $labelLineHeight;
  display: block; // исключаем из верстки блока vertical-align;
}

/* 
 * ===============================================
 * Выкладываем в одном месте все стилевые правила 
 * под разные контексты компонент 
 * и под разные контексты использования 
 * ================================================
 */

/* Правила в контексте фромы сохранения */
:host-context(my-cool-app-post-form) {
  /* правила в контексте формы ввода */
  label {
    color: green;
  }

  input {
    border-color: green;
    color: green;
  }
}

/* 
 * Здесь написано примерно так:
 * Отобразить обязательное поле в компоненте my-cool-app-post-form со следующими правилами 
 */
:host-context(my-cool-app-post-form)[useas="required"] {
  label {
    color: purple;
  }

  input {
    border-color: purple;
    color: purple;
  }
}
