html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

app-root {
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: start;
  grid-gap: 40px;
}

.list-item {
  background-color: #eee;
  margin: 5px 0;
  padding: 5px 10px;
  max-width: 200px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0 5px;
  align-items: center;

  &.selected {
    background-color: burlywood;

    &.loaded {
      background-color: yellowgreen;
    }
  }
}

.fa-star {
  color: goldenrod;
  cursor: pointer;
}

.fa-book {
  color: green;
  cursor: pointer;
}

.fa-trash {
  color: palevioletred;
  cursor: pointer;
}
