html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

.list-item {
  background-color: #eee;
  margin: 5px 0;
  padding: 5px 10px;
}
